<mat-card>
    <mat-card-content>
        <table #table
               (matSortChange)="sortWeapons()"
               mat-table
               matSort
               [dataSource]="dataSource"
        >
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                >Name
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.name}} </td>
            </ng-container>
            <ng-container matColumnDef="damage">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                >Damage
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.EDamage(comparer.parameters) | number: '1.0-1'}} </td>
            </ng-container>
            <ng-container matColumnDef="RPM">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                    matTooltip="Rounds per minute"
                    matTooltipPosition="before"
                    matTooltipShowDelay="1000"
                >RPM
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.RPM}} </td>
            </ng-container>
            <ng-container matColumnDef="DPS">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                    matTooltip="Damage per second"
                    matTooltipPosition="before"
                    matTooltipShowDelay="1000"
                >DPS
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.EDPS(comparer.parameters) | number: '1.0-1'}} </td>
            </ng-container>
            <ng-container matColumnDef="TTK">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                    matTooltip="Time to kill (milliseconds)"
                    matTooltipPosition="before"
                    matTooltipShowDelay="1000"
                >TTK
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.ETTK(comparer.parameters) | number: '1.0-1'}} </td>
            </ng-container>
            <ng-container matColumnDef="STK">
                <th *matHeaderCellDef
                    mat-header-cell
                    mat-sort-header
                    matTooltip="Shots to kill"
                    matTooltipPosition="before"
                    matTooltipShowDelay="1000"
                >STK
                </th>
                <td *matCellDef="let weapon"
                    mat-cell
                > {{weapon.ESTK(comparer.parameters)}} </td>
            </ng-container>

            <tr *matHeaderRowDef="['name', 'damage', 'RPM', 'DPS', 'TTK', 'STK']"
                mat-header-row
            ></tr>
            <tr *matRowDef="let row; columns: ['name', 'damage', 'RPM', 'DPS', 'TTK', 'STK'];"
                mat-row
            ></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[14, 5, 10, 11, 12, 13, 15, 20, 50]"
                       showFirstLastButtons
        ></mat-paginator>
    </mat-card-content>
</mat-card>
