<mat-card class="sidebar-card">
    <mat-card-title>
        <h3>Parameters</h3>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div>
            <p>Distance (m): {{ this.comparer.parameters.distance }}</p>
            <mat-slider (valueChange)="distanceChanged($event)"
                        [(ngModel)]="this.comparer.parameters.distance"
                        [max]="50"
                        [min]="0"
                        [step]="1"
                        [thumbLabel]="true"
            >
            </mat-slider>
        </div>
        <mat-divider></mat-divider>
        <div>
            <p class="pt-1">Armor Level: {{ this.comparer.parameters.armorLevel }}</p>
            <mat-slider (valueChange)="armorLevelChanged($event)"
                        [(ngModel)]="this.comparer.parameters.armorLevel"
                        [max]="3"
                        [min]="1"
                        [step]="1"
                        [thumbLabel]="true"
            >
            </mat-slider>
        </div>
        <mat-divider></mat-divider>
        <div>
            <p class="pt-1">Extra options:</p>
            <mat-checkbox (change)="hasArmorPlatesChanged($event)"
                          [(ngModel)]="this.comparer.parameters.hasRookPlates"
                          class="example-margin"
            >Armor Plates: {{ this.comparer.parameters.hasRookPlates ? 'Yes' : 'No' }}
            </mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>
