<mat-toolbar class="example-toolbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Rainbow Stats</h1>
</mat-toolbar>

<div class="row">
  <div class="col-lg-2">
    <mat-card class="sidebar-card">
      <mat-card-title>
        <h3>Filters</h3>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="weird-fix">
          <mat-form-field style="width: 100% ">
            <mat-label>Search...</mat-label>
            <input (keyup)="applySearchFilter($event)"
                   matInput
                   placeholder="Ex. R4-C"
            >
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="sidebar-card">
      <mat-card-title>
        <h3>Parameters</h3>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form>
          <div class="weird-fix">
            <p class="filter-label">Distance (m):</p>
            <mat-slider [(ngModel)]="armorSliderValue"
                        [max]="50"
                        [min]="0"
                        [step]="1"
                        [thumbLabel]="true"
                        style="width: 100%"
            >
            </mat-slider>
          </div>
          <mat-divider></mat-divider>
          <div>
            <p class="filter-label">Armor Level:</p>
            <mat-slider [(ngModel)]="armorSliderValue"
                        [max]="3"
                        [min]="1"
                        [step]="1"
                        [thumbLabel]="true"
                        style="width: 100%"
            >
            </mat-slider>
          </div>
          <mat-divider></mat-divider>
          <div>
            <p class="filter-label">Extra options:</p>
            <mat-checkbox class="example-margin">Armor Plates</mat-checkbox>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-10">
    <mat-card>
      <mat-card-content>
        <table [dataSource]="weaponsTableDataSource"
               mat-table
               matSort
        >
          <ng-container matColumnDef="name">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >Name
            </th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.name}} </td>
          </ng-container>
          <ng-container matColumnDef="damage">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >Damage
            </th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.damage | number: '1.0-1'}} </td>
          </ng-container>
          <ng-container matColumnDef="RPM">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >RPM
            </th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.RPM}} </td>
          </ng-container>
          <ng-container matColumnDef="DPS">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >DPS<sup>&nbsp;(L1 Armor, 0M Distance)</sup></th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.DPS | number: '1.0-1'}} </td>
          </ng-container>
          <ng-container matColumnDef="TTK">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >TTK<sup>&nbsp;(L1 Armor, 0M Distance)</sup></th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.TTK | number: '1.0-1'}} </td>
          </ng-container>
          <ng-container matColumnDef="STK">
            <th *matHeaderCellDef
                mat-header-cell
                mat-sort-header
            >STK<sup>&nbsp;(L1 Armor, 0M Distance)</sup></th>
            <td *matCellDef="let weapon"
                mat-cell
            > {{weapon.STK}} </td>
          </ng-container>

          <tr *matHeaderRowDef="['name', 'damage', 'RPM', 'DPS', 'TTK', 'STK']"
              mat-header-row
          ></tr>
          <tr *matRowDef="let row; columns: ['name', 'damage', 'RPM', 'DPS', 'TTK', 'STK'];"
              mat-row
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>

